<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div *ngIf="listaErrores?.nombre" class="alert alert-danger">
    {{ listaErrores.nombre }}
  </div>
  <div *ngIf="listaErrores?.apellido" class="alert alert-danger">
    {{ listaErrores.apellido }}
  </div>
  <div *ngIf="listaErrores?.email" class="alert alert-danger">
    {{ listaErrores.email }}
  </div>
  <div class="card-body">
    <form #actualizarClienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='actualizarCliente()' [disabled]="!actualizarClienteForm.form.valid">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
</div>
